body { font-family: monospace; }

input { font-family:monospace }

table td { padding: 4px 10px; font-family:monospace; }

table.form { margin: 20px }
table.form td:nth-child(1) { text-align: right; font-weight: bold; }

table.data { border-collapse: collapse; } 
table.data td { border: solid 1px black; max-width: 40ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
table.data tr:nth-child(1) { font-weight: bold; }

table.status { border-collapse: collapse; } 
table.status td { border: solid 1px black; }
table.status tr:nth-child(1) { font-weight: bold; }

table tr.PASSED,   table td.PASSED,    table tr.PASSED a,   table td.PASSED a   { background-color: lightgreen; color: black; font-weight: bold }
table tr.FAILED,   table td.FAILED,    table tr.FAILED a,   table td.FAILED a   { background-color: #D00000; color: white; font-weight: bold }
table tr.FAILING,  table tr.FAILING a, table td.FAILING,    table td.FAILING a  { background-color: purple; color: white; }
table tr.COMPLETE, table td.COMPLETE,  table tr.COMPLETE a, table td.COMPLETE a { background-color: green; color: white; font-weight: bold }
table tr.TESTING,  table td.TESTING,   table tr.TESTING a,  table td.TESTING a  { background-color: blue; color: white }
table tr.UNKNOWN,  table td.UNKNOWN,   table tr.UNKNOWN a,  table td.UNKNOWN a  { background-color: grey; color: black; }
table tr.STALE,    table td.STALE,     table tr.STALE a,    table td.STALE a    { background-color: yellow; color: black; }

button.click { border: 1px outset darkgrey; background-color: white; padding: 0; height:12px; width:12px; border-radius:12px; vertical-align: middle }
button.click:hover { background-color: grey; }

div.footer { float:left; }
div.footer form { float: left; }
div.footer button { font-size: 8px; float:left; }
div.footer span { font-size: 12px; float:left; }

nav ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: black; }
nav li { float: left; border-right: 1px solid white; }
nav li:last-child { float: right; border-right: none; border-left: 1px solid white; }
nav li a { display: block; color: white; text-align: center; padding: 4px 16px; text-decoration: none; }
nav li a:hover { background-color: grey }
